Integrantes:
Alessandra Blücher; 
Bruno Arthur Cesconetto; 
Dennis Zaramelo Felex -
2°C

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import math

In [2]:
pokemons = pd.read_json('pokedex.json')
itens = pd.read_json('items.json')
habilidades = pd.read_json('skills.json')
tipos = pd.read_json('types.json')

In [3]:
pokemons.head()

,base,cname,ename,flatName,id,jname,model,skills,type
0,"{'Attack': 49, 'Defense': 49, 'HP': 45, 'Sp.At...",妙蛙种子,Bulbasaur,NaN,1,フシギダネ,NaN,"{'egg': [133, 204, 174, 203, 202, 320, 580, 27...","[草, 毒]"
1,"{'Attack': 62, 'Defense': 63, 'HP': 60, 'Sp.At...",妙蛙草,Ivysaur,NaN,2,フシギソウ,NaN,"{'egg': [133, 204, 174, 203, 202, 320, 580, 27...","[草, 毒]"
2,"{'Attack': 82, 'Defense': 83, 'HP': 80, 'Sp.At...",妙蛙花,Venusaur,NaN,3,フシギバナ,NaN,"{'egg': [133, 204, 174, 203, 202, 320, 580, 27...","[草, 毒]"
3,"{'Attack': 52, 'Defense': 43, 'HP': 39, 'Sp.At...",小火龙,Charmander,NaN,4,ヒトカゲ,NaN,"{'egg': [314, 246, 251, 187, 44, 68, 242, 349,...",[炎]
4,"{'Attack': 64, 'Defense': 58, 'HP': 58, 'Sp.At...",火恐龙,Charmeleon,NaN,5,リザード,NaN,"{'egg': [314, 246, 251, 187, 44, 68, 242, 349,...",[炎]

In [4]:
itens.head()

     cname        ename     jname
0    除虫喷雾器        Repel  むしよけスプレー
1    白银喷雾器  Super Repel  シルバースプレー
2    黄金喷雾器    Max Repel  ゴールドスプレー
3  脱离洞穴的绳子  Escape Rope   あなぬけのヒモ
4     黑色哨子  Black Flute   くろいビードロ

In [5]:
habilidades.head()

,accuracy,category,cname,ename,id,jname,max_pp,power,pp,tm,type
0,100.0,物理,拍击,Pound,1,はたく,NaN,40.0,35.0,NaN,一般
1,100.0,物理,手刀,Karate Chop,2,からてチョップ,NaN,50.0,25.0,NaN,格斗
2,85.0,物理,连环巴掌,Double Slap,3,おうふくビンタ,NaN,15.0,10.0,NaN,一般
3,85.0,物理,连续拳,Comet Punch,4,れんぞくパンチ,NaN,18.0,15.0,NaN,一般
4,85.0,物理,百万吨拳击,Mega Punch,5,メガトンパンチ,NaN,80.0,20.0,NaN,一般

In [6]:
tipos.head()

  cname     ename jname
0    一般    Normal  ノーマル
1    格斗  Fighting  かくとう
2    飞行    Flying   ひこう
3     毒    Poison    どく
4    地上    Ground   じめん